body, html {
    height: 120%;
    margin: 0%;
}
body{
    background-image: url(./Back2.png);
    background-position: center;
}

#box {
    position: relative;
    left: 1036px;
}
#box2 {
    position: relative;
    top: -53px;
}
.home{
    position: relative;
    right: 20px;
}
.about{
    position: relative;
    right: 20px;
}
.service{
    position: relative;
    right: 20px;
}

#mo{
    width: 77px;
    height: 31px;
    position: relative;
    top: 2px;
    background-color: purple;
}
.anime1{
    position: relative;
    top: 23px;
    left: 104px;
}
.action1{
    position: relative;
    top: -417px;
    left: 468px;
}
.action2{
    position: relative;
    top: -832px;
    left: 838px;
}
.horr1{
    position: relative;
    top: -1252px;
    left: 1208px;
}
.horr2{
    position: relative;
    top: -1193px;
    left: 1208px;
}
.action3{
    position: relative;
    top: -1612px;
    left: 838px;
}
.horr3{
    position: relative;
    top: -2028px;
    left: 468px;
}
.anime2{
    position: relative;
    top: -2446px;
    left: 104px;
}
#AN1{
    border-radius: 29px;
}
.bot1{
    position: relative;
    left: 154px;
    top: 21px;
    width: 200px;
    background-color: red;
}
.bot2{
    position: relative;
    left: -244px;
    top: 21px;
    width: 200px;
    background-color: red;
}
.bot3{
    position: relative;
    left: -244px;
    top: 21px;
    width: 200px;
    background-color: red;
}
.bot4{
    position: relative;
    left: -242px;
    top: 21px;
    width: 200px;
    background-color: red;
}
.bot5{
    position: relative;
    left: -239px;
    top: 21px;
    width: 200px;
    background-color: red;
}
.bot6{
    position: relative;
    left: -244px;
    top: 21px;
    width: 200px;
    background-color: red;
}
.bot7{
    position: relative;
    left: -244px;
    top: 21px;
    width: 200px;
    background-color: red;
}
.bot8{
    position: relative;
    left: -244px;
    top: 21px;
    width: 200px;
    background-color: red;
}

.vid1{
    position: relative;
    left: 4px;
    top: 388px;
}
.vid2{
    position: relative;
    left: -484px;
    top: 388px;
}
.vid3{
    position: relative;
    left: -484px;
    top: 388px;
}
.vid4{
    position: relative;
    left: -484px;
    top: 388px;
}
.vid5{
    position: relative;
    left: -484px;
    top: 388px;
}
.vid6{
    position: relative;
    left: -484px;
    top: 388px;
}

#desNaruto{
    font-size: 23px;
    color: red;
    border: solid;
    border-color: black;
    background: rgba(45, 4, 143, 0.226);
}
#desc2{
    font-size: 23px;
    color: red;
    border: solid;
    border-color: black;
    background: rgba(45, 4, 143, 0.226);
    position: relative;
    top: 413px;
    left: -368px;
}

.Horrors1{
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(15, 15, 85); 
  color: rgb(206, 30, 30); 
  border: 2px solid #19cf19;
}

.Actions1{
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(15, 15, 85); 
  color: rgb(206, 30, 30); 
  border: 2px solid #19cf19;
}
.Animes1{
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(15, 15, 85); 
  color: rgb(206, 30, 30); 
  border: 2px solid #19cf19;
}

.home{
    position: relative;
    left: 362px;
    top: -49px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: aqua;  
}
#SER{
    
    width: 239px;
    height: 43px;
    
}
#ss{
    text-decoration: none;
    font-size: 16px;
    background-color: aqua; 
    width: 97px;
    height: 43px;
}