body{
    background-image: url(./backk.png);
    background-size: cover;
    position: fixed;
}
#mail{
    position: relative;
    left: 248px;
    top: 399px;
    height: 60px;
    width: 400px;
}
#sing{
    background-color: red;
    color: white;
    position: relative;
    left: 799px;
    top: 400px;
    height: 67px;
    width: 140px;
}
.box{
    position: relative;
    left: 99px;
    top: 100px;
    position: fixed;
}
#Log{
    background-color: red;
    color: white;
    position: relative;
    left: 1036px;
    top: -144px;
    height: 40px;
    width: 90px;
}
.imgg{
    width: 417px;
    height: 183px;
}
.log{
    position: relative;
    left: 129%;top: 232px;
    border: solid;
    margin: 24px 0 12px 0;
    font-size: larger;
    width: 453px;
    background-color: rgba(12, 10, 7, 0.541);
}
.mail{
    width: 312px;
    height: 32px;
    margin-left: 20px;
    background-color: silver;
}
.pass{
    width: 312px;
    height: 32px; 
    background-color: silver;
    margin-left: 20px;

}
#E{
    font-size: 1.2em;
    color: red;
    position: relative;
    left: -93px;
}
.Pa{
    font-size: 1.2em;
    color: red;
}
.log2{
    background-color: red;
    color: white;
    position: relative;
    left: 354px;
    top: 58px;
    height: 40px;
    width: 90px;
}